.dispenser
	div(class='col-md-12 center')
		a(href='/' class='no-underline')
			h3 AntrianJS
		div(class='col-md-3 col-centered')
			div(class='panel panel-default')
				.panel-heading
					div(class='panel-title center')
						h4 Dispenser
				.panel-body
					form
						label(class='radio-inline')
							input(type='radio' name='inlineRadioOption')
							span NPWP
						label(class='radio-inline')
							input(type='radio' name='inlineRadioOption')
							span EFIN
						label(class='radio-inline')
							input(type='radio' name='inlineRadioOption')
							span EFILING
						
						span(class='nomor-dispenser')
							p 99999
						button(class='btn btn-primary btn-lg') Ambil Nomor




